*{
    padding: 0px;
    margin: 0px;
}


.ord_btn{
    background-color: rgb(245, 57, 57);
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    color: white;
    font-size: 18;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}
.trr{
    border-bottom-color: #009879;
    color: black;
    text-align: center;
    font-weight: bold;
}
.tbl{
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    font-size: 0.9em;
    min-width: 400px; 
    border-radius: 5px,5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0,0,0,.15);
}

.tbl thead th,
.tbl thead td{
    padding: 12px 15px;
}

.tbl tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tbl tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.tbl tbody tr:last-of-type{
    border-bottom: 1px solid #009879;
}
