<%- include('about_header.ejs') %>
    <div class="header">
        <nav class="nav-par">
                <div class="logo">
                    <a href="../home"><img src="logo.png"></a>
                </div>
        </nav>
        <h2>ABOUT<br>OUR CHEF</h2>

        <img src="about-f-1.png" title="1">
        <img src="about-f-2.png" title="2">
        <img src="about-f-3.png" title="3">
        <img src="about-f-4.png" title="4">
        <img src="about-f-5.png" title="5">
        <img src="about-f-6.png" title="6">
    </div>



    <div class="our-chef">
        <div class="image">
            <img src="chef.jpg">
        </div>
        <div class="text">
            <h2>EXECUTIVE CHEF</h2>
            <h1>mohamed salama</h1>
            <p>Head chef
                Muhammad Salameh
                Mohamed Salama, Executive Chef, Adachi Restaurant.
                Prior to working for Adachi, 
                the chef worked for safety and learned from top chefs in France
                And Japan. His training reflects his experiences in French,
                Japanese and other Asian cuisines. 
                Chef Salameh was born on the island of Hawaii and lived in New York and Japan - 
                bringing with him a wide range of traditions and local cuisine.
            </p>
            <img src="chef1.jpg">
            <img src="chef2.jpg">
            <img src="chef3.jpg">
        </div>
    </div>



    <div class="gallery" id="gallery">
        <div class="text"><h2>Some photos from Our Restaurant ..... </h2></div>
        <div class="images">
            <div class="image"><img src="gallery-1.jpg" id="gallery1"></div>
            <div class="image"><img src="gallery-2.jpg" id="gallery2"></div>
            <div class="image"><img src="gallery-3.jpg" id="gallery3"></div>
            <div class="image"><img src="gallery-4.jpg" id="gallery4"></div>
            <div class="image"><img src="gallery-5.jpg" id="gallery5"></div>
            <div class="image"><img src="gallery-6.jpg" id="gallery6"></div>
            <div class="image"><img src="gallery-7.jpg" id="gallery7"></div>
            <div class="image"><img src="gallery-8.jpg" id="gallery8"></div>
        </div>
        <div class="show-image-false" id="show-image">
            <img src="" id="image-dispaly">
        </div>
    </div>
    

    <div class="footer">
        &copy copyright 2020
    </div>
    <%- include('about_footer.ejs') %>